.headerbc {
  display: flex;
  flex-direction: row;
  border: 0px solid gray;
  background: #F5F5F5;
  height: 40px;
  width: 100%
  
}

.head1bc {
  display:inline-flex ;
  /* flex-direction: row ; */
  justify-content:space-between;
  margin-left: 3%;
  padding: 5px;
  margin-top: -15px
}

.head1bc img {
  margin-top: 20px;
  padding-inline-start: 7px;
  padding-inline-end: 7px
}

.head1bc img:hover {
  text-decoration: underline;
  cursor: pointer;
  color: blue
}



.head1bc p {
  font-size: 10px;
  margin-top: 23px;
}



.head2bc {
  display: flex;
  margin-right: 15%;
  margin-left: 30px
}

.head2bc img{
 margin-top: 8px;
 padding-inline-end:30px ;
}

.head2bc p {
  margin-top: 6px;
  
  padding: 5px;
  padding-inline-start: 40px;
  font-size: 14px;
  
}

.head2bc p:hover {
  text-decoration: underline;
  cursor: pointer;
  color: blue
}

/* subheader styling */

.subcontainerbc {
  display: flex;
  border: 1px solid white;
  padding-top: 15px;
  height: 55px;
  background: white
  
}

.containbc {
  display: flex
}

.jumiabasketbc {
  margin-top:10px;
  margin-right: 5px
}

.box1 {
  border: 1px solid black;
  background: black;
  height: 2px;
  width: 20px;
  margin-top: 3px;
  margin-left: 55px
}

.searchbc {
  display: flex;
  margin-left: 30px
}

.searchbc input {
  width: 600px;
  height: 35px;
  border-radius: 0%;
  border: 1px solid white;
  background: #F5F5F5;
  padding-left: 20px
}

.searchbc button {
  height: 37px;
  width: 80px;
  border-radius: 0%;
  border:1px solid white ;
  background: orange;
  color: white
}

.help {
  display: flex;
  padding-left: 10px;
  margin-top: -15px
}


.help p {
  padding-left: 20px;
}

.help img {
  width: 95px;
}

.menubc {
  position: relative;
  display:block;
  cursor: pointer;

}

.dropdownmenu {
  display: none;

}

.dropdownmenu .next a {

  text-decoration: none;
padding: 4px;
  border: 1px gray;
  color: black;
  margin: auto;
}
.dropdownmenu .tradme a {

  text-decoration: none;
padding: 4px;
color: rgb(250, 250, 250);
font-size: 15px;
  
}

.menubc:hover .dropdownmenu {
  display: block;
  background-color: rgb(255, 255, 255);
  position: absolute;
  height: 120px;
  width: 190px;
  margin: 0;
  top:100%;
 border: solid 0.1px rgb(221, 213, 213);
  align-items: center;
}
.menubc:hover .dropdownmenu .next{

margin-top: 20px;
margin-left: 9px;
font-size: 13px;
margin-right: 9px;
}
.menubc:hover .dropdownmenu .tradme{
background-color: rgba(228, 228, 228, 0.911);
text-align: center;
width: 70%;
padding: auto;
margin-top: 10px;
margin-left: 15%;
height: 20px;

}

.navcontainerbc {
  background: white;
  margin-left: 55px;
  margin-top: -10px;
  margin-right: 50px;
  display: flex
}

.subnav1{
  border: 1px solid white;
  width: 16%
}

.mainno1bc {
  
  margin-bottom: -73px;
  font-size: 11px;
  padding: 5px
}

.no1bc {
  position: relative;
  display:block;
  cursor: pointer;


}

.subno1bc{
  display: none;
  justify-content: space-around;

}

.subno1bc  {
  display: none;
  justify-content: space-around;

}


.no1bc:hover .subno1bc{
  display: -webkit-inline-flex;
  margin-left: 50%;
  margin-top: -710px;
  background: white
  /* justify-content:space-around; */

  /* background-color: rgb(255, 255, 255);
  position: absolute;
  height: 120px;
  width: 190px;
  margin: 0;
  top:100%;
 border: solid 0.1px rgb(221, 213, 213);
  align-items: center; */
}


.mainno2bc {
  margin-bottom: -73px;
  font-size: 11px;
  padding: 5px
}

.mainno3bc {
  margin-bottom: -73px;
  font-size: 11px;
  padding: 5px
}

.mainno4bc {
  margin-bottom: -73px;
  font-size: 11px;
  padding: 5px
}

.mainno5bc {
  margin-bottom: -73px;
  font-size: 11px;
  padding: 5px
}

.mainno6bc {
  margin-bottom: -73px;
  font-size: 11px;
  padding: 5px
}

.mainno7bc {
  margin-bottom: -73px;
  font-size: 11px;
  padding: 5px
}

.mainno8bc {
  margin-bottom: -73px;
  font-size: 11px;
  padding: 5px
}

.mainno9bc {
  margin-top: 3px;
  margin-bottom: -73px;
  font-size: 11px;
  padding: 5px
}

.mainno10bc {
  margin-bottom: -73px;
  font-size: 11px;
  padding: 5px
}

.mainno11bc {
  margin-bottom: -73px;
  font-size: 11px;
  padding: 5px
}

.mainno12bc {
  margin-bottom: -73px;
  font-size: 11px;
  padding: 5px
}

.sub1 {
  display: flex;
  padding-top: 5px 
}

.sub1 h5 {
  font-size: 11px;
  color: orange
}

.sub1 img {
  padding-top: 19px
}

.sub2 {
  display: flex;
  padding-top: 10px 
}

.sub2 h5 {
  font-size: 11px;
  color: rgb(131, 128, 128);
  margin-top: -5px
}

.sub2 img {
  margin-top: -5px
}
